doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://unpkg.com/vue/dist/vue.js')
    script(src='/scripts/jquery/dist/jquery.min.js')
    script(src='/scripts/whatwg-fetch/fetch.js')
  body
    block content